[Unit]
Description=Collect Raspberry Pi metrics for Prometheus
After=network-online.target

[Service]
Environment=PROM_FILE_PATH=/var/lib/node_exporter/raspberry_exporter.prom SLEEP_DURATION=15
ExecStart=/usr/local/bin/raspberry_exporter

[Install]
WantedBy=multi-user.target
